### Create Summary Tables
July 18, 2019

Code to create summary sheets from the county voting data file

In [1]:
import geopandas as gp

In [2]:
gdf = gp.read_file('../data/WAKE/WAKE_orgunits.shp')

In [3]:
gdf.head()

,BlackHH,ClusterID,HOUSING10,OrgID,OrgType,P003001,P003003,P010001,P010004,POP10,PctBlack,PctBlack18,geometry
0,70,NaN,118,1,OriginalBlock,357,212,225,126,357,59.383754,56.000000,"POLYGON ((-78.33744 35.821984, -78.337457 35.8..."
1,53,NaN,73,2,OriginalBlock,130,94,99,69,130,72.307692,69.696970,"POLYGON ((-78.572563 35.811895, -78.572035 35...."
2,63,NaN,120,3,OriginalBlock,134,70,125,68,134,52.238806,54.400000,"POLYGON ((-78.65722199999999 35.782297, -78.65..."
3,137,NaN,179,4,OriginalBlock,410,314,257,192,410,76.585366,74.708171,"POLYGON ((-78.60934899999999 35.75329, -78.609..."
4,59,NaN,74,5,OriginalBlock,155,123,106,80,155,79.354839,75.471698,"POLYGON ((-78.65531299999999 35.87068, -78.654..."

In [4]:
gdf.OrgType.unique()

array(['OriginalBlock', 'Full block cluster', 'Partial block cluster'], dtype=object)